hr
#post-comment
  .comment-head
    .comment-headline
      i.fas.fa-comments.fa-fw
      span= ' ' + _p('webmention.webmention')

  .comment-wrap
    #webmentions
    form.webmention-input-group(action=url_for(theme.indieweb.webmention.endpoint) method="post" style="margin: 2ch 0;")
      label.webmention-label(for="source")=_p('webmention.webmention_submit')
      input.webmention-input(name="source" placeholder="Your URL" required="" type="url")
      input.webmention-input(name="target" type="hidden" value=urlNoIndex())
      input.webmention-input(style="background:var(--font-color);" type="submit" value=_p('webmention.webmention_status.submit'))